{% extends 'base.html' %}
{% block content %}
{% load static %}
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center" style="font-family: 'Gowun Dodum', sans-serif;">
    <header class="mb-auto">
      <div>
          <h3 class="float-md-start mb-0"></h3>
      </div>
    </header>
    <main>
    <div class="container" >
      <div class="row">
        <div class="col-lg-7 col-sm-12">
          <main class="px-3">
            <h1 class="intro-h1"><strong>새로운 재미를 찾아보세요.</strong></h1><hr>
              <p class="lead">
                <h4 class="intro-h4">추천받은 웹툰이 생각만큼 재밌지 않을 때,</h4> 
                <h4 class="intro-h4"> 직관적이지 않은 키워드 때문에 웹툰 선택이 힘들 때,</h4>
                <h4 class="intro-h4"><b>OTT 처럼 간단하게 오늘 볼 웹툰을 찾아드립니다.</b></h4>
              </p>
              <p class="lead" style="padding-top: 20px;">
                <a href="{% url 'reco:select' %}" type="button" class="btn btn-dark btn-lg ">Start</a>
              </p> 
          </main>
          </div>
            <div class="col-lg-5 col-sm-12">
              <div class="img-intro-container">
                <img src="/static/assets/introImg.png" class="rounded mx-auto d-block" alt="intro 이미지">
              </div> 
            </div>
      </div>
    </div>
  </main> 
    <footer class="mt-auto ">
      <h6>Find us</h6>
        <p>naeun <a href="https://github.com/world970511" class="text-white">Github</a>/ Hyejin <a href="https://github.com/hjlim7831" class="text-white">Github</a></p>
    </footer>
  </div>

{% endblock %}
