{% extends 'base.html' %}
{% block content %}
<body>
<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0"></h3>
  </div>
</header>
  <main>
    <section class="py-5 text-center container textfiled-color">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto" style="font-family: 'Gowun Dodum', sans-serif;">
        <h1 class="fw-light"><strong>웹툰을 선택해주세요.</strong></h1><hr>
        <p class="lead text-muted">보고 싶었던 웹툰, 예전에 재밌게 봤던 웹툰,<br> 모두 포함해서 최소 10개를 선택해주세요.<br> 많이 선택할수록 추천의 정확도가 높아집니다.</p>
        <p>
          <a href="{% url 'reco:result' %}"><button type="button" class="btn btn-dark btn-lg ">NEXT</button></a>
        </p>
      </div>
    </div>
  </section>
  <!-- 웹툰 선택 리스트-->
  <div class="album py-5 bg-black">
    <div class="container">
      <div class="row row-cols-3 row-cols-lx-5 g-3">
        {% csrf_token %}
        {% if webtoon %}
          {% for w in webtoon %}
          <div class="col">
            <div class="card shadow-sm">
              <img src="{{ w.img.url}}" class="card-img-top" alt="{{ movie.movie_logo.url}}">
              <div class="card-body">
                <h6 class="card-title">{{w.title}}</h6>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
</body>
{% endblock %}
