{% extends 'base.html' %}
{% block content %}
{% load static %}
<body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">
<div id="loading">
  <h1>Loading...</h1>
  <div class="loader"></div>
</div>
<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0"></h3>
  </div>
</header>
  <main>
  <form action="" method="post">  
    <section class="py-5 text-center container textfiled-color">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto" style="font-family: 'Gowun Dodum', sans-serif;">
          <h1 class="fw-light"><strong>웹툰을 선택해주세요.</strong></h1><hr>
          <p class="lead text-muted">보고 싶었던 웹툰, 예전에 재밌게 봤던 웹툰,<br> 모두 포함해서 최소 10개를 선택해주세요.<br> 많이 선택할수록 추천의 정확도가 높아집니다.</p>
          <p class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="10개 이상의 웹툰을 선택해야 활성화됩니다.">
            <button type="submit" class="btn btn-dark btn-lg" id ='submitnBtn' disabled>NEXT</button>
          </p>
        </div>
      </div>
    </section>
    <!-- 웹툰 선택 리스트-->
    {% csrf_token %}
    <div class="album py-5 bg-black">
      <div class="container">
        <div class="row row-cols-3 row-cols-lg-5 g-3 infinite-container">
          {% for w in webtoon %}   
          <div class="col infinite-item">
            <input id="{{ w.id }}" type="checkbox" name="selected" value="{{ w.id }}">
            <label for="{{ w.id }}">
                <img src="{{ w.img.url}}"  alt="{{w.title}}">
                <span><h5>{{w.title}} </h5></span>
            </label>
          </div>
          {% endfor %}
        </div>
        <div class="loading-data" style="display: block; margin: auto;">
          <div class="spinner-border text-info" role="status">
          </div>
        </div>

        {% if webtoon.has_next %}
          <a class="infinite-more-link" href="?page={{ webtoon.next_page_number }}"></a>
        {% endif %}
      </div>
    </div>
      <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top" style="border-radius: 50%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
        </svg>
      </button>
    </div>
  </form>
</main>
</body>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script src="{% static 'js/scrollToTop.js' %}"></script>
<script src="{% static 'js/noBack.js' %}"></script>
<script src="{% static 'js/loader.js' %}"></script>
<script src="{% static 'js/pageload.js' %}"></script>
<script src="{% static 'js/checklist.js' %}"></script>
{% endblock %}
